<?xml version="1.0" encoding="UTF-8"?>

<configuration>
<!--    <timestamp key="BY_DATE" datePattern="yyyy-MM-dd"/>-->
    <property name="LOG_PATTERN"
              value="[%d{yyyy-MM-dd HH:mm:ss}:%-4relative] %highlight([%-5level]) %green([%thread]) %boldWhite([%logger.%M:%yellow(%L)]) - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
<!--            <pattern>[%-5level] %d{HH:mm:ss.SSS} [%.10thread] %logger{15}:%L - %msg%n</pattern>-->
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>